<body>
  <article class="To-Do">
    <h1>To-Do List</h1>

    <!-- Section show and delete tasks -->
    <section class="list-tasks">
      <ul>
        <!-- [class.selected]="task === selectedTaskId" -->
        <li *ngFor=" let item of data">
          <h4>{{ item.name_task }}</h4>
          <b>User name: </b>{{ getUserNameById(item.name_user) }}
          <br> <b>Description:</b> {{ item.description }}
          <br><b>Status: </b>{{ item.status }}
          <br> <b>Created Date:</b> {{item.createDate}}
          <br><b>Deadline: </b>{{item.deadline}}
          <br><br>
          <hr>
          <div class="buttons">
            <button type="button">EDIT TASK</button>
            <!-- <button type="button">MORE DETAILS</button> -->
            <button type="button" (click)="deleteTask(item._id)">DELETE</button>
          </div>
          <hr>
        </li>
      </ul>
    </section>


    <div class="forms-box">
      <!-- Form to add new Taask -->
      <section class="form-add-tasks">
        <h2>Form for add New Task</h2>
        <h2>♫ ☻☺ Add Tasks ☺☻ ♪</h2>
        <form (ngSubmit)=" onSubmit()" ngNativeValidate>
          ► Choice name user:<select name="user_name" id="userName" [(ngModel)]="selectedUserName" required>
            <option [value]="user._id" *ngFor="let user of usersData">{{ user.first_name}}</option>
          </select>
          <br><br>
          ► Name Task: <input type="text" name="name_task" id="name_task" [(ngModel)]="selectedTaskName"
            placeholder="Typing task name" required>
          <br><br>
          ► Typing description:
          <br>
          <textarea name="description" id="description" cols="30" rows="10" placeholder="Typing task description"
            [(ngModel)]="taskDescription" maxlength="200" required></textarea>
          <br>
          ☼ Choice deadline:
          <input type="date" name="deadline" id="deadline" [(ngModel)]="selectedDeadline" required>
          <br><br>
          ◙ Select Status:
          <select name="status" id="status" [(ngModel)]="selectedStatus" required>
            <option value="Pending">Pending</option>
            <option value="In Progress">In Progress</option>
            <option value="Completed">Completed</option>
          </select>
          <br><br>
          <hr>
          <button type="submit">Add Task</button>
        </form>
      </section>
    </div>
    <br><br>
  </article>
  <!-- <app-task-detail [task]="selectedTaskId"></app-task-detail> -->

</body>